<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/buttons.css" />

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%= campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="campground[title]"
          required
          value="<%= campground.title %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="campground[description]"
          required
        >
<%= campground.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">
            <i class="fa-solid fa-location-dot mx-auto"></i>
          </span>
          <input
            class="form-control"
            type="text"
            id="location"
            name="campground[location]"
            required
            value="<%= campground.location %>"
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">
            <i class="fa-solid fa-money-check-dollar mx-auto"></i>
          </span>
          <input
            type="text"
            class="form-control"
            id="price "
            placeholder="0.00"
            aria-label="price"
            aria-describedby="price-label"
            name="campground[price]"
            required
            value="<%= campground.price %>"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Add Image</label>
        <div class="input-group">
          <label for="image" class="input-group-text" id="image-label"
            ><i class="fa fa-upload mx-auto"></i
          ></label>
          <label for="image" class="form-control filenameLabel" id="image-label"
            >Click here to add image(s)...</label
          >
        </div>
        <input
          type="file"
          name="image"
          class="form-control inputImg"
          id="image"
          multiple
          style="display: none"
          onchange="displayFilename()"
        />
      </div>

      <div class="mb-3">
        <% campground.images.forEach(function(img, i) { %>

        <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="" />

        <div class="form-check-inline">
          <input
            type="checkbox"
            id="image-<%=i%>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
        </div>

        <label for="image-<%= i %>">Delete?</label>

        <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-success">Submit</button>
        <a
          class="btn btn-outline-danger"
          href="/campgrounds/<%= campground._id %>"
          >Cancel</a
        >
      </div>
    </form>
  </div>
</div>
